.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  @apply flex-center full-height;
}

.card {
  padding: 1rem 2rem;
  border-radius: 1.25rem;
}

.loader {
  color: #f8f9fa;
  font-weight: 200;
  font-size: 3em;
  box-sizing: content-box;
  padding: 10px 10px;
  display: flex;
  border-radius: 8px;
  text-transform: uppercase;
}

.words {
  overflow: hidden;
  position: relative;
}

.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #76fa6a;
  animation: spin 4s infinite;
}

@keyframes spin {
  10% {
    transform: translateY(-102%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-202%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-302%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-402%);
  }
  100% {
    transform: translateY(-400%);
  }
}
